@use '../scss/' as *;
.search {
    position: relative;
    width: 100%;
    max-width: 500px;
    @include flex(center,center);

    input {
        color: rgb(255, 115, 0);
        font-weight: bold;
        font-family: monospace;
        width: 250px;
        height: 7px;
        background-color: white;
        border-radius: 0 5px 5px 0;
    }
    
    button {
        @include mobile {
            right: 1px;
            top: 1px;
        }
    }
}
